<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
	<h1>Details of Newly Created Account</h1>

	<div class="container" id="newly-created">
		<div class="row">
			<div class="col-xs-2">Number</div>
			<div class="col-xs-2" th:text="${account.number}">number</div>
		</div>
		<div class="row">
			<div class="col-xs-2">Owner</div>
			<div class="col-xs-2" th:text="${account.owner}">number</div>
		</div>
		<div class="row">
			<div class="col-xs-2">Balance</div>
			<div class="col-xs-2" th:text="${account.balance}">number</div>
		</div>
	</div>

	<div style="height: 0.2cm">&nbsp;</div>

	<h1>Top 3 of newest Accounts List</h1>
	<div th:if="not ${accounts}" class="error">
		No accounts found.
		<div style="height: 0.5cm">&nbsp;</div>
	</div>

	<div th:if="${accounts}">

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Account Number</th>
					<th>Owner</th>
					<th>Balance</th>
				</tr>
			</thead>

			<tbody id="new-accounts-list">
				<tr th:each="account,itrStat : ${accounts}"
					th:unless="${itrStat.index > 2}">
					<td th:text="${account.id}">-1</td>
					<td><a href="account.html"
						th:href="@{|/accounts/${account.number}|}"
						th:text="|${account.number}|">11111111</a></td>
					<td th:text="${account.owner}">Owner</td>
					<td th:text="${account.balance}">0</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div style="text-align: right">
		Options: <a th:href="@{/}">Home</a> | <a th:href="@{/accounts/search}">Account
			Search</a> | <a th:href="@{/accounts/showAll}">Show all accounts</a> | <a
			th:href="@{/accounts/add}">Add new account</a>
	</div>

	<div th:replace="footer :: copy"></div>
</body>
</html>
